@font-face {
  src: url(/assets/Roboto-VariableFont_wdth,wght.ttf);
  font-family: Roboto
}

@font-face {
  src: url(/assets/arialmt.ttf);
  font-family: ArialMT
}

@font-face {
  src: url(/assets/iconly.ttf);
  font-family: Iconly
}

:root {
  --flux-color: hsl(60, 100%, 75%);
  --rainbow-color: hsl(0, 100%, 50%);
}

.icon {
  font-family: Iconly;
}

* {
  font-family: "Arial MT", Roboto;
  table-align: center;
  text-align: center;
  user-select: none;
}

body {
  margin: 0px 10px;
  font-size: 14px;
  overflow-x: hidden;
  background: #011;
  color: white;
}

h1 {
  display: inline;
  font-weight: normal;
  font-size: 28px;
}

h2 {
  display: inline;
  font-weight: normal;
  font-size: 24px;
}

h3 {
  display: inline;
  font-weight: bold;
  font-size: 20px;
}

h4 {
  display: inline;
  font-weight: bold;
  font-size: 18px;
}

.free-select {
  user-select: text;
}

.table-center {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.table-left {
  display: flex;
  justify-content: start;
  flex-flow: row wrap;
}

.item-left {
  width: 100%;
  text-align: left;
}

.line, .black-line, .sub-line {
	margin: 6px 0px;
	height: 0px;

	border: none;
	border-top: solid 2px white;
}
.black-line {
	border-top-color: black;
}
.sub-line {
  width: calc(100% - 10px);
  margin: 6px auto;
  border-top-color: #fff2;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #0000;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.o-primary-btn {
  position: relative;
  margin: 2px;

  --button-color: white;

  font-size: 12px;
  border: solid 2px var(--button-color);
  border-radius: 5px;
  background-color: color-mix(in srgb, var(--button-color) 4%, transparent);
  padding: 4px 8px;
  color: white;

  cursor: pointer;

  transition-property: background-color, border, color, box-shadow;
  transition-duration: 0.25s;
}
.o-primary-btn.opaque {
  background-color: color-mix(in srgb, var(--button-color) 4%, #011);
}
button * {
  user-select: none;
}

.no-active {
  cursor: default;
}

.o-primary-btn:not(.o-primary-btn--disabled,.o-primary-btn--bought,.no-active,:active):hover {
  box-shadow: 0px 0px 10px var(--button-color);
  background-color: color-mix(in srgb, var(--button-color) 8%, transparent);
}
.o-primary-btn.opaque:not(.o-primary-btn--disabled,.o-primary-btn--bought,.no-active,:active):hover {
  background-color: color-mix(in srgb, var(--button-color) 8%, #011);
}

.o-simple-frame {
  --frame-color: white;

  border: solid 2px var(--frame-color);
  border-radius: 5px;
  background-color: color-mix(in srgb, var(--frame-color) 4%, transparent);
  color: white;

  transition-property: background-color, border, color, box-shadow;
  transition-duration: 0.25s;
}
.o-simple-frame.opaque {
  background-color: color-mix(in srgb, var(--frame-color) 4%, #011);
}

/*
.o-primary-btn:not(.no-active):active {
  border-style: inset;
}
*/

.g--generator-button, .g--expander {
  --button-color: #8ff;
}
.g--infinity-button {
  --button-color: #ff9400;
}
.g--energy-button {
  --button-color: #2196f3;
}
.g--eternity-button {
  --button-color: #b341e0;
}
.g--flux-button {
  --button-color: var(--flux-color);
}

.o-primary-btn.o-primary-btn--disabled {
  --button-color: red;
  color: white !important;

  cursor: default;
}

.o-primary-btn.o-primary-btn--bought {
  --button-color: lime;
  color: white !important;

  cursor: default;
}

.generators {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: minmax(180px, auto);
  gap: 5px;
  margin-top: 5px;
}
.generators button {
  position: relative;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.g--generator {
  display: grid;
  grid-template-rows: 1fr 20px;
  grid-template-columns: 1fr;
  min-height: 180px;
}

.g--gen-top {
  position: absolute;
  top: 0px;
  left: 5px;
  width: calc(100% - 10px);

  display: grid;
  grid-template-columns: 1fr 2fr;
}
.g--expander .g--gen-top {
  grid-template-columns: 1fr;
}

.g--generator .g--gen-top > div:nth-child(3n + 1) {
  grid-column: 1 / 3;
  margin-bottom: 5px;
}

.g--gen-L {
  justify-self: left;
  text-align: left;
}
.g--gen-R {
  justify-self: right;
  text-align: right;
}

.g--gen-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.g--expander {
  min-height: 180px;
}

.g--topbar-div {
  display: grid;
  grid-template-columns: 240px;
  grid-template-rows: minmax(35px, auto) 1fr;
  height: 100%;
  font-size: 12px;
}
.g--topbar-div > div {
  align-self: self-end;
}

.g--points {
  font-weight: bold;
  text-shadow: 1px 1px 5px #fff;
}
.g--infinity {
  color: #ff9400;
  font-weight: bold;
  text-shadow: 1px 1px 5px #ff9400;
}
.g--eternity {
  color: #b341e0;
  font-weight: bold;
  text-shadow: 1px 1px 5px #b341e0;
}
.g--energy {
  color: #2196f3;
  font-weight: bold;
  text-shadow: 1px 1px 5px #2196f3;
}

.g--flux-text {
  color: var(--flux-color);
}
.g--flux {
  color: var(--flux-color);
  font-weight: bold;
  text-shadow: 1px 1px 5px var(--flux-color);
}

.g--challenge {
  width: 380px;
  height: 160px;

  border: solid 2px white;
  border-radius: 5px;
  background-color: color-mix(in srgb, white 4%, transparent);

  font-size: 12px;
  padding: 4px 8px;

  position: relative;
}
.g--challenge.infinity {
  border-color: #ff9400;
  background-color: color-mix(in srgb, #ff9400 4%, transparent);
}
.g--challenge.eternity {
  border-color: #b341e0;
  background-color: color-mix(in srgb, #b341e0 4%, transparent);
}

.g--challenge-header {
  position: absolute;
  bottom: calc(100% + 3px);
  left: 0px;
  width: 100%;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
}

.g--challenge-bottom {
  position: absolute;
  bottom: 4px;
  left: 8px;
  width: calc(100% - 16px);
}

.g--automation {
  width: 250px;

  border: solid 2px white;
  border-radius: 5px;
  background-color: color-mix(in srgb, white 4%, transparent);

  font-size: 12px;
  padding: 4px;

  position: relative;

  display: grid;
  grid-template-rows: auto minmax(40px, auto) auto 30px 40px;
  gap: 4px;
}

.g--automation-switch {
  display: grid;
  grid-template-columns: 1fr 20px;
  min-height: 20px;
  align-items: center;
}
.g--automation-switch > div {
  text-align: left;
}
.g--automation-switch > input {
  height: 20px;
  padding: 0px;
  margin: 0px;
}

.o-achievements-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 128px);
  grid-auto-rows: 128px;
  grid-gap: 5px;
}

.o-achievement--cell, .o-achievement--cell-hidden {
  position: relative;
  background-color: #a3a3a3;
  border: solid 2px #b84b5f;
  border-radius: 10px;
}

.o-achievement--cell {
  background-image: url('/assets/textures/achievements.png');
}
.o-achievement--cell-hidden {
  background-color: #555;
  border-color: #888;
  background-image: url('/assets/textures/achhidden.png');
  background-size: 124px;
}

.o-achievement--cell.unlocked {
  background-color: #5ac467;
  border-color: #127a20;
}

#notifications {
  position: fixed;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  gap: 2px;
  pointer-events: none;
}

.notification {
  position: relative;

  --n-color: white;

  --n-percent: 100%;
  --n-duration: 5s;

  background: var(--n-color);
  border: solid 2px color-mix(in srgb, var(--n-color) 50%, black);
  border-radius: 5px;

  color: black;

  padding: 5px 10px 10px 10px;
  font-size: 16px;
  width: fit-content;

  overflow: hidden;
  text-align: right;

  z-index: 2;
  pointer-events: all;
}

.notification::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: var(--n-percent);
  transition: width var(--n-duration) linear;
  height: 5px;
  background: color-mix(in srgb, var(--n-color) 50%, black);

  color: gold;
}

.g--time-study-button {
  width: 200px;
  height: 140px;
}
.g--tree-study-block {
  width: 204px;
  height: 140px;
}
.g--time-study-id {
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 10px;
  font-weight: bold;
  opacity: .5;
  color: white !important;
}

.g--time-study--NG {
  --button-color: #3296c4 !important;
}
.g--time-study--NG-bought {
  --button-color: #8ff !important;
}
.g--time-study--IG {
  --button-color: #b34500 !important;
}
.g--time-study--IG-bought {
  --button-color: #ff9400 !important;
}
.g--time-study--TG {
  --button-color: #9932a5 !important;
}
.g--time-study--TG-bought {
  --button-color: #da34ff !important;
}
.g--time-study--active {
  --button-color: #8a1c18 !important;
}
.g--time-study--active-bought {
  --button-color: #ff4d00 !important;
}
.g--time-study--passive {
  --button-color: #759b29 !important;
}
.g--time-study--passive-bought {
  --button-color: #aaff00 !important;
}
.g--time-study--idle {
  --button-color: #2a2f8d !important;
}
.g--time-study--idle-bought {
  --button-color: #1925ff !important;
}
.g--time-study--light {
  --button-color: #666 !important;
}
.g--time-study--light-bought {
  --button-color: #fff !important;
}
.g--time-study--dark {
  --button-color: #444 !important;
}
.g--time-study--dark-bought {
  --button-color: #888 !important;
}

#session-time {
  position: fixed;
  bottom: 5px;
  left: 5px;
  background-color: color-mix(in srgb, var(--rainbow-color) 10%, #fff1);
  padding: 2px;
  pointer-events: none;
  text-align: left;
}

.g--news-ticker {
  position: relative;
  width: calc(100% - 50px);
  height: 22px;
  border: solid 2px white;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  overflow: hidden;
  padding: 4px 0px;
}

.g--news-ticker__line {
  padding-left: 100%;
  transition: transform linear;
}

.g--news-line {
  display: inline-block;
  white-space: nowrap;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
}

.corrupted-text {
	color: white;
	animation: corrupted_text 4s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

@keyframes corrupted_text {
	0%, 100% {
		text-shadow: -2px -2px 2px #5555ff, 2px 2px 2px #ff5555;
		color: white;
	}
	25% {
		text-shadow: -2px 2px 2px #5555ff, 2px -2px 2px #ff5555;
		color: #eeddff;
	}
	50% {
		text-shadow: 2px 2px 2px #5555ff, -2px -2px 2px #ff5555;
		color: white;
	}
	75% {
		text-shadow: 2px -2px 2px #5555ff, -2px 2px 2px #ff5555;
		color: #ffddee;
	}
}

.rainbow-text {
  color: var(--rainbow-color);
}

.deep-blue-text {
  display: inline;
  font-style: normal;
  font-weight: 1000;
  color: white;

  filter: drop-shadow(1px 1px white) drop-shadow(0px 0px 1px white);
  text-shadow: none;

  background: linear-gradient(blue, navy);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.g--time-study-preset {
  display: grid;
  width: 100%;
  height: 100px;
  grid-template-rows: 20px 1fr 1fr 30px;
  gap: 5px;
}

.g--time-study-preset-input {
  width: calc(100% - 20px);
  border: none;
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 12px;
  text-align: left;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.g--time-study-preset-buttons {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(5, 120px);
  justify-content: center;
}
.g--time-study-preset-buttons > button {
}
